.container {
    display: flex;
    flex-wrap: wrap;
    /* Allow the flex items to wrap onto multiple lines */
}

.box {
    position: relative;
    flex-basis: 100%;
    background-color: gray;
    margin: 1px;
    border: 2px solid black;
    /* By default, each box should take up the full width */
}

.tr {
    position: absolute;
    top: 0;
    right: 0;
}

#c1 {
    background-color: #CC9A9A;
}

#c2 {
    background-color: red;
}

#c3 {
    background-color: yellow;
}

@media only screen and (min-width: 992px) {
    .box {
        flex-basis: 28.33%;
        /* On larger screens, boxes can take up a third of the width */
    }
}


@media only screen and (min-width: 768px)and (max-width:991px) {
    .box {
        flex-basis: 40%;
        /* On larger screens, boxes can take up a third of the width */
    }

    #sushi {
        flex-basis: 81%;
    }
}



@media only screen and (max-width: 767px) {
    .box {
        flex-basis: 100%;
        /* On medium screens, boxes should take up the full width */
    }
}