.container {
    display: flex;
    flex-wrap: wrap;

}

.box {
    position: relative;
    flex-basis: 100%;
    background-color: gray;
    margin: 1px;
    border: 2px solid black;

}

.tr {
    position: absolute;
    top: 0;
    right: 0;
}

#c1 {
    background-color: #CC9A9A;
}

#c2 {
    background-color: red;
}

#c3 {
    background-color: yellow;
}

@media only screen and (min-width: 992px) {
    .box {
        flex-basis: 28.33%;

    }
}


@media only screen and (min-width: 768px)and (max-width:991px) {
    .box {
        flex-basis: 40%;

    }

    #sushi {
        flex-basis: 81%;
    }
}



@media only screen and (max-width: 767px) {
    .box {
        flex-basis: 100%;

    }
}